#quote {
  display: flex;
  flex-direction: column;
  width: 95%;
  height: 25%;
  margin-bottom: 30px;
  justify-content: space-between;
}
#quote span:first-child {
  font-size: 22px;
  font-weight: 300;
  line-height: 1.5;
}
#quote span:last-child {
  font-size: 18px;
  font-weight: 300;
  text-align: end;
  margin-right: 10px;
  opacity: 0.6;
}
