@import "/src/reset.css";
@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&family=Ubuntu:wght@300;500&display=swap");
@import "/src/clock.css";
@import "/src/quotes.css";
@import "/src/greeting_todo.css";
@import "/src/painting.css";
@import "/src/weather.css";

body {
  font-family: "Ubuntu", "Nanum Gothic", sans-serif;
  display: flex;
  flex-direction: row;
  padding: 30px;
  padding-bottom: 40px;
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  justify-content: space-between;
}

.hidden {
  display: none;
}

::placeholder {
  text-align: center;
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-size: 24px;
}

section {
  display: flex;
  flex-direction: column;
}
#column-one {
  width: 25%;
  align-items: center;
  justify-content: space-between;
}
#column-two {
  width: 40%;
}
#column-three {
  display: flex;
  align-items: center;
  width: 30%;
  justify-content: space-evenly;
}
