@import "/src/reset.css";
@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&family=Ubuntu:wght@300;500&display=swap");
@import "/src/clock.css";
@import "/src/quotes.css";
@import "/src/greeting_todo.css";
@import "/src/painting.css";
@import "/src/weather.css";
@import "/src/variable.css";

body {
  font-family: "Ubuntu", "Nanum Gothic", sans-serif;
  display: flex;
  flex-direction: row;
  padding: 50px;
  padding-bottom: 60px;
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  justify-content: space-between;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

.hidden {
  display: none;
}

::placeholder {
  text-align: center;
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-size: 24px;
}

section {
  display: flex;
  flex-direction: column;
}
#column-one {
  width: 25%;
  align-items: center;
  justify-content: space-between;
}
#column-two {
  width: 40%;
  justify-content: space-between;
}
#column-three {
  display: flex;
  align-items: center;
  width: 30%;
  justify-content: space-evenly;
  border-radius: 25px;
  box-shadow: 3px 5px 8px rgba(0, 0, 0, 0.1),
    inset 3px 4px 10px rgba(255, 255, 255, 0.2);
}
