:root {
  --left-shadow: -3px 4px 10px rgba(0, 0, 0, 0.2),
    inset -4px 4px 10px rgba(255, 255, 255, 0.6),
    inset 3px -3px 8px rgba(0, 0, 0, 0.1);
  --center-shadow: 0 4px 10px rgba(0, 0, 0, 0.2),
    inset 0 4px 10px rgba(255, 255, 255, 0.65),
    inset 0 -4px 8px rgba(0, 0, 0, 0.1);
  --btn-shadow: 0 3px 4px rgba(0, 0, 0, 0.3),
    inset 0 3px 5px rgba(255, 255, 255, 0.3);
  --box-color: rgba(255, 255, 255, 0.6);
  --back-color: rgba(236, 204, 178, 0.8);
  --point-color: rgba(172, 112, 136, 1);
}
